.goal-item {
    margin: 1rem 0;
    background: #8b005d;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    color: white;
    padding: 1.2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
